
#menuToggle
{
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: rgb(237, 237, 237, 0.7);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-family:'Roboto Slab',serif;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


/*******************************main**********************************************************/

body {
  text-align: center;
}

main {
  max-width: 80%;
  margin-left: 10%;
  margin-top: 10%; 
  text-align: center;
  /* justify-content: center; */
}


/**************************************************************/
.top {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.topimg {
  width: 100%;
  position: relative;
}

.tittle {
  transform: rotate(45deg);
  position: absolute;
  top: 26%;
  left: 64%;
  font-family: 游明朝;
  font-size: 7rem;
}

.compsept {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 70px;
}

.compseptimg {
  width: 57%;
  object-fit: cover;
  height: 580px;
}

.line {
  margin-top: 40%;
  border: solid 1px black;
  border-bottom: transparent;
  border-left: transparent;
  border-top: transparent;
  height: 363px;
}

.com {
    display: flex;
}

.midashi {
    writing-mode: vertical-rl;
    font-family: 游明朝;
}

.naiyou {
  writing-mode: vertical-rl;
  font-family: 游明朝;
}

.naiyou2 {
    writing-mode: vertical-rl;
    font-family: 游明朝;
}


/***************************************************************/

.garally img { 
  align-items: flex-start;
  width: 30%;
  object-fit: cover;
  height: auto;
  margin-left: 10px;
}

.garally1{
  display: flex;
  justify-content: center;
}

.garally2{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.garallypage {
  margin-left: 65%;
  font-family: 游明朝;
  color: black;
  text-decoration: none;
  font-size: 1.7rem;
}

.line2 {
  border: solid 1px black;
  width: 10%;
  text-align: right;
  margin-left: 81%;
}

/******************************************************************************************/



.plan {
  display: flex;
  margin-top: 100px;
  margin-bottom: 170px;
  justify-content: center;
  background-image: url(img/IMG_9778.jpg);
  background-position: center;
  padding: 100px;
}

.bkRG {
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}



.swagplan {
  margin: 0 45px;
}

.h3tittle {
  font-family: 游明朝;
  font-size: 5rem;
  margin-top: 100px;
}
.no {
  color: #fff;
  border-bottom: solid 1px
}

.tateline {}
.menu {
  color: #fff;
  font-family: 游明朝;
  font-size: 1.5rem;
}

.contents {
  color: #fff;
  font-family: 游明朝;
  font-size: 0.75rem;
}


/*******************************************************************/
.contact {}
.contact h4{
  font-size: 4rem;
  font-family: 游明朝;
  margin-bottom: 70px;
}
.line3 {}

/******************************************************************/
.plofile {
  display: flex;
  margin-top: 250px;
  justify-content: center;
}
.plofile img {
  width: 30%;
}
.name {
  margin-left: 100px;
  padding-top: 55px;
}
.name p{
  font-family: 游明朝;
}
.insta {}


/*************************************************************************/

footer{
  margin-top: 140px;
}
h5{
  font-family: 游明朝;
}
